<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bulletn News</title>
    <style>

        body {
            -webkit-font-smoothing: antialiased;
            height: 100%;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            background-color: #FFFFFF;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body bgcolor="#F3F3F3">

<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%" bgcolor="#F3F3F3" style="background-color:#F3F3F3;margin:0;padding:0;color:#333;font-size:14px;line-height:20px;font-family:'Helvetica Neue','HelveticaNeue',Helvetica,Arial,sans-serif">

    <tbody>
    <tr>
        <td align="center" valign="top">
            <table width="100%" height="46" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="background-color:#FFF;padding-bottom:10px;">
                <tbody>
                <tr>
                    <td width="100%" align="center" valign="top">
                        <table width="532" border="0" cellspacing="0" cellpadding="7">
                            <tbody>
                            <tr>
                                <td height="28" align="left"><a href="http://getbulletn.com" target="_blank"><img src="logo.png" width="185" height="67" alt="" style="display:block;border:0;padding:3px 7px;"></a>
                                </td>
                                <td height="28" align="right" style="font-size:12px;color:#888;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"> <span style="color:#333"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 height="20" style="text-decoration:none;padding-bottom:10px;font-size:11px;line-height:20px;color:#333;font-family:'Helvetica Neue','HelveticaNeue',Helvetica,Arial,sans-serif;font-stretch:condensed">
                                    <center> <span style="color:#58D2B2"><b>Bulletn</b></span> is a better way to share relevant articles from across the web with the people you work with.
                                    </center>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table width="100%" height="2" border="0" cellspacing="0" cellpadding="0" bgcolor="#95E9B3" style="background-color:#95E9B3">

                <tbody>
                <tr>
                </tr>
                </tbody>

            </table>

            <table width="650" border="0" cellspacing="0" cellpadding="9">
                <tbody>
                <tr>
                    <td align="left" valign="top">
                        <table width="100%" height="12" border="0" cellspacing="0" cellpadding="0" bgcolor="#F3F3F3" style="background-color:#F3F3F3">
                            <tbody>
                            <tr> </tr>
                            </tbody>
                        </table>
                        <!-- pojedyncza notyfikacja -->
                        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" style="background-color:#fff;border:1px solid #ddd;padding:5px;">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding:10px;width:65%;">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td style="width:30%;">
                                                <img style="border:0;display:block" src="avatarAnony.png" width="45" height="45" alt="{{firstname}} {{lastname}}" class="CToWUd">
                                            </td>
                                            <td style="width:70%;">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-weight:bold;color:#000000;text-decoration:none;font-size:16px;line-height:20px;padding:5px 0 0;font-family:'Helvetica Neue','HelveticaNeue',Helvetica,Arial,sans-serif">
                                                            {{firstname}} {{lastname}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:13px;line-height:19px;font-family:'Helvetica Neue','HelveticaNeue',Helvetica,Arial,sans-serif">
                                                            <span style="color:#999999;text-decoration:none !important;text-decoration:none">{{email}}</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        {% if comment %}
                                        <tr>
                                            <td style="padding:10px 0;font-size:14px;line-height:20px;color:#999999;font-family:'Helvetica Neue','HelveticaNeue',Helvetica,Arial,sans-serif">
                                                {{comment}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td style="padding:20px 0;">
                                                TEKST
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top" style="padding:10px;width:35%;max-height:80px;overflow:hidden">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top;">
                                                <p style="float:right;margin:0px;padding-right:10px;">data</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="max-height:80px;overflow:hidden">
                                                    <a href="{{web_url}}" style="text-decoration:none;display:block">
                                                        <img src="{{web_media_url}}" style="width:100%; height:auto; border:1px solid #888; float:right;" tabindex="0">
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="70%" align="center" valign="top" style="background-color:#58D2B2;border:2px solid #58D2B2;border-radius:7px; padding:5px;font-size:14px;line-height:20px;text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                                <a href="{{web_url}}" style="color:#FFF;text-decoration:none;display:block" target="_blank">Read more in Bulletn</a></td>
                                        </tr>
                                        <tr>
                                            <td width="70%" align="center" valign="top" style="background-color:#f3f3f3;border:2px solid #f3f3f3;border-radius:7px; padding:5px;font-size:14px;line-height:20px;text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                                <a href="{{web_url}}" style="color:#888;text-decoration:none;display:block" target="_blank">Read on Web</a></td>
                                        </tr>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- koniec notyfikacji -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="100%" height="18" style="font-size:18px;line-height:18px">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>

</table>


<table width="100%" height="2" border="0" cellspacing="0" cellpadding="0" bgcolor="#95E9B3" style="background-color:#95E9B3">

    <tbody>
    <tr>
    </tr>
    </tbody>

</table>


<table width="100%" height="80" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFF" style="background-color:#FFF">

    <tbody>
    <tr>
        <td align="center" valign="top" style="padding-top:40px;font-size:16px;line-height:20px;color:#44515D;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
            INSTALL <span style="color:#58D2B2">Bulletn</span> FOR FREE ON YOUR DEVICE
        </td>
    </tr>
    </tbody>

</table>


<table width="100%" height="80" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFF" style="background-color:#FFF">

    <tbody>
    <tr>
        <td align="right" valign="top" style="padding-top:10px; padding-right:30px; width:46.5%; font-size:24px;line-height:20px;color:#44515D;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
            <img src="logo2.png" style="width:60px; height:60px; border:none;" tabindex="0">
        </td>
        <td align="left" valign="top" style="padding-top:10px; width:53.5%; font-size:24px;line-height:20px;color:#44515D;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
            <img src="appstore.png" style="width:192px; height:56px; border:none;" tabindex="0">
        </td>
    </tr>
    </tbody>

</table>


<table width="100%" border="0" cellspacing="0" cellpadding="10" bgcolor="#FFFFFF">

    <tbody>
    <tr>
        <td align="center" style="padding-bottom:2px;font-size:14px;line-height:20px;color:#333;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
            <!--
            <p>Don't like these annoying emails? <a style="font-weight:normal;color:#58D2B2;text-decoration:none" href="http://api.bulletn.incuvo.com/v1/users/{{ user_token }}/unsubscribe?client_id=oxGCE1Hypile7yys3sUJmlMOGXjcAswc&client_secret=NQnR2jVQTOTHmmNcK9c6xWmDIc5dqq00"><unsubscribe>Unsubscribe</unsubscribe></a>.
            -->
            <p><a style="font-weight:normal;color:#58D2B2;text-decoration:none" href="http://getbulletn.com"> Click here to change your e-mail alert preferences </a></p>
        </td>
    </tr>
    </tbody>

</table>


</body>
</html>
